<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="styles/normalize.css">
	<link rel="stylesheet" type="text/css" href="styles/skeleton.css">
	<link rel="stylesheet" type="text/css" href="styles/style.css">

	<title>Dave Noriega</title>
	<link rel="icon"
      type="image/png"
      href="images/Blackmage-ff1-nes.png">
</head>
<body>
	<header>
		<h1 id="name">Dave Noriega</h1>
		<ul class="header-contact">
			<li><a href="mailto:dnori817@gmail.com">dnori817@gmail.com</a></li>
			<li><a href="tel:+16313368656">(631)336-8656</a></li>
			<li><a href="https://www.linkedin.com/in/david-noriega-353773147" target= "_blank">Linkedin</a></li>
			<li><a href="https://github.com/dnori817" target= "_blank">Github</a></li>
		</ul>
		<h1 class="title"> <%= title %> </h1>

		<ul id="menu">

			<% for(let i = 0; i < menu.length; i++) { %>
				<a class="menu-item" href="<%= menu[i].href %>" target="<%= menu[i].target %>">
				<li><%= menu[i].text %></li>
				</a>
			<%	} %>

		</ul>
	</header>
		<main>
			<%- include(page, pageArgs); %>
		</main>
	<footer>
		<h6>
			<a href="/contact" class="contact-link">Contact Info</a>
			&copy Dave Noriega 2017

		</h6>
	</footer>

</body>
</html>
